@{
    ViewBag.Title = "Home Page";
}

<div class="container cardContainer">
    <div class="col-sm-12 row">

        <div class="btn  card col-xs-12  col-sm-6">
            <div class="btnText">
                @Html.ActionLink("Members", "List", "Member")
            </div>
        </div>


        <div class="btn  card col-xs-12  col-sm-6">
            <div class="btnText">
                @Html.ActionLink("Salons", "List", "Salon")
            </div>
        </div>
        <div class="btn  card col-xs-12  col-sm-6">
            <div class="btnText">
                @Html.ActionLink("Hairstyles", "List", "Hairstyle")
            </div>
        </div>
        </div>
</div>